sdk/typescript/test/e2e/beta50.devnet.ika-network.net/
nre/ika-genesis/ika-dns-service.ika.svc.cluster.local/
# IDE
**/.history/
**/.vscode/
**/.idea/

# OSX
.DS_Store

# Rust build directory
**/target
.pre-commit*

# Move build directory
build
!crates/ika-single-node-benchmark/tests/data/package_publish_from_bytecode/package_a/build
!crates/ika-single-node-benchmark/tests/data/package_publish_from_bytecode/package_b/build
storage
!consensus/core/src/storage
!crates/ika-types/src/storage
!narwhal/storage

# Move-related files
Move.lock
!crates/ika-framework/packages/move-stdlib/Move.lock
!crates/ika-framework/packages/ika-framework/Move.lock
!crates/ika-framework/packages/ika-system/Move.lock
!crates/ika-framework/packages/deepbook/Move.lock
.trace
.coverage_map.mvcov

# Thumbnails
._*

# Emacs
\#*\#
.\#*

# Python
.pyc

# Node.js
node_modules
.tsbuildinfo
*.tsbuildinfo
.turbo

# App build directories
dist/
storybook-static/
web-ext-artifacts/
.next/
next-env.d.ts

# App test artifacts
coverage/
test-results/
playwright-report/
playwright/.cache/

# logs
wallet.log.*
ika.log.*
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
*.key
.env
checkpoints_dir/*
light_client.yaml
docs/content/references/ika-api/ika-graphql/*
docs/content/references/framework/**

lcov.info
ika_config.json
nre/ika-genesis/beta50.devnet.ika-network.net/
nre/ika-genesis/ika
node.tar

# need to keep
sdk/typescript/test/chaos-test/ika-dns-service.ika.svc.cluster.local
sdk/typescript/test/chaos-test/ika