[package]
name = "sui-light-client"
version = "0.0.0"
authors = ["Mysten Labs <build@mystenlabs.com>"]
license = "BSD-3-Clause-Clear"
publish = false
edition = "2021"

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
bcs.workspace = true
bytes.workspace = true
clap.workspace = true
move-core-types.workspace = true
serde.workspace = true
tokio = { workspace = true, features = ["full"] }
serde_yaml.workspace = true
serde_json.workspace = true
sui-types.workspace = true
sui-config.workspace = true
sui-rest-api.workspace = true
sui-json.workspace = true
sui-sdk.workspace = true
sui-keys.workspace = true
shared-crypto.workspace = true
move-binary-format.workspace = true
sui-json-rpc-types.workspace = true
sui-package-resolver.workspace = true
workspace-hack.workspace = true


axum.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true



[[bin]]
name = "light-client"
path = "src/light-client/light-client.rs"

[[bin]]
name = "light-client-service"
path = "src/service/service.rs"