[package]
name = "sui-light-client"
version = "0.0.0"
authors = ["Mysten Labs <build@mystenlabs.com>"]
license = "BSD-3-Clause-Clear"
publish = false
edition = "2021"

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
bcs.workspace = true
bytes.workspace = true
clap.workspace = true
move-core-types = { git = "https://github.com/MystenLabs/sui", package = "move-core-types" }
serde.workspace = true
tokio = { workspace = true, features = ["full"] }
serde_yaml.workspace = true
serde_json.workspace = true
sui-types = { git = "https://github.com/MystenLabs/sui", package = "sui-types" }
sui-config = { git = "https://github.com/MystenLabs/sui", package = "sui-config" }
sui-rest-api = { git = "https://github.com/MystenLabs/sui", package = "sui-rest-api" }
sui-json = { git = "https://github.com/MystenLabs/sui", package = "sui-json" }
sui-sdk = { git = "https://github.com/MystenLabs/sui", package = "sui-sdk" }
sui-keys = { git = "https://github.com/MystenLabs/sui", package = "sui-keys" }
shared-crypto = { git = "https://github.com/MystenLabs/sui", package = "shared-crypto" }

move-binary-format = { git = "https://github.com/MystenLabs/sui", package = "move-binary-format" }
sui-json-rpc-types = { git = "https://github.com/MystenLabs/sui", package = "sui-json-rpc-types" }
sui-package-resolver = { git = "https://github.com/MystenLabs/sui", package = "sui-package-resolver" }


axum.workspace = true
dirs.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true
futures.workspace = true
reqwest.workspace = true
object_store.workspace = true
sui-data-ingestion-core = { git = "https://github.com/MystenLabs/sui", package = "sui-data-ingestion-core" }
backoff = { version = "0.4.0", features = ["tokio"] }

sui-storage = { git = "https://github.com/MystenLabs/sui", package = "sui-storage" }
url.workspace = true
log = "0.4.22"



[[bin]]
name = "light-client"
path = "src/light-client/light-client.rs"

[[bin]]
name = "light-client-service"
path = "src/service/service.rs"
