[Unit]
Description=Pera Node

[Service]
User=pera
WorkingDirectory=/opt/pera/
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info,pera_core=debug,narwhal=debug,consensus=debug,jsonrpsee=error
ExecStart=/opt/pera/bin/pera-node --config-path /opt/pera/config/validator.yaml
Restart=always

[Install]
WantedBy=multi-user.target
