[package]
name = "dwallet-mpc-wasm"
authors = ["dWallet Labs, Ltd. <dev@dwalletlabs.com>"]
description = "dWallet MPC in WASM"
version = "0.1.6"
edition = "2021"
license = "BSD-3-Clause-Clear"
publish = false

[dependencies]
dwallet-mpc-centralized-party = { path = "../../crates/dwallet-mpc-centralized-party" }
anyhow = "1.0.95"

wasm-bindgen = "0.2.92"
bcs = "0.1.6"
serde-wasm-bindgen = "0.6.5"

[lib]
crate-type = ["cdylib"]

[patch.crates-io]
ecdsa = { git = "https://github.com/yaelAbergel/signatures", rev = "7c8523182b1a28e5bcc6bb8d1508fbde1ea845c4"}
crypto-bigint = { git = 'https://github.com/erik-3milabs/crypto-bigint.git', rev = '3c5fd81' }