[Unit]
Description=Ika Node

[Service]
User=ika
WorkingDirectory=/opt/ika/
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info,ika_core=debug,narwhal=debug,consensus=debug,jsonrpsee=error
ExecStart=/opt/ika/bin/ika-node --config-path /opt/ika/config/validator.yaml
Restart=always

[Install]
WantedBy=multi-user.target
