/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @layer utilities {
  .bg-checkerboard {
    background-image: linear-gradient(45deg, var(--ika-black) 25%, transparent 25%, transparent 75%, var(--ika-black) 75%, var(--ika-black)),
                      linear-gradient(45deg, var(--ika-black) 25%, transparent 25%, transparent 75%, var(--ika-black) 75%, var(--ika-black));
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    border-right: 1px solid var(--ika-blue);
  }
  .bg-checkerboard-dark {
    background-image: linear-gradient(45deg, rgb(var(--ika-blue-dark)) 25%, transparent 25%, transparent 75%, rgb(var(--ika-blue-dark)) 75%, rgb(var(--ika-blue-dark))),
                      linear-gradient(45deg, rgb(var(--ika-blue-dark)) 25%, transparent 25%, transparent 75%, rgb(var(--ika-blue-dark)) 75%, rgb(var(--ika-blue-dark)));
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    border-right: 1px solid rgb(var(--ika-blue-dark));
  }
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4ca2ff;
  --ifm-color-primary-dark: #2b91ff;
  --ifm-color-primary-darker: #1a88ff;
  --ifm-color-primary-darkest: #006fe8;
  --ifm-color-primary-light: #6db3ff;
  --ifm-color-primary-lighter: #7ebcff;
  --ifm-color-primary-lightest: #afd6ff;
  --ifm-code-font-size: 95%;
  --ifm-background-color-dark: #030F1C;
  --ifm-navbar-background-color: #030F1C;
  --ifm-navbar-sidebar-link-color: #F7F7F8;
  --ifm-navbar-sidebar-background-color: #030F1C;
  --ifm-navbar-link-color: #F7F7F8;
  --ifm-navbar-height: 4.5rem;
  --ifm-spacing-horizontal: 1.875rem;
  --ifm-font-size-base: .9375rem;
  --ifm-line-height-base: 1.5rem;
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-menu-color: #011829;
  --ifm-menu-color-background-active: rgba(247, 247, 248, 1);

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ika-black: #090B1A;
  --ika-blue: #6fbcf0;
  --ika-blue-bright: #00f9fb;
  --ika-blue-light: #e1f3ff;
  --ika-blue-lighter: #B4C2D0;
  --ika-blue-dark: 52 99 151;
  --ika-blue-darker: #303846;
  --ika-hero: #0284AD;
  --ika-hero-dark: #007195;
  --ika-ika-steel: #A0B6C3;
  --ika-steel-dark: #758F9E;
  --ika-steel-darker: #566873;
  --ika-header-nav: #2A4362;
  --ika-success: #2DD7A7;
  --ika-success-dark: #008C65;
  --ika-success-light: #D5F7EE;
  --ika-issue: #FF794B;
  --ika-issue-dark: #EB5A29;
  --ika-issue-light: #FFECE5;
  --ika-warning: #F2BD24;
  --ika-warning-dark: #8D6E15;
  --ika-warning-light: #FFF8E2;
  --ika-code: #845ED6;
  --ika-gray-35: #FEFEFE;
  --ika-gray-40: #F7F8F8;
  --ika-gray-45: #EBECED;
  --ika-gray-50: #E9EAEB;
  --ika-gray-55: #D7D8DA;
  --ika-gray-60: #C3C5C8;
  --ika-gray-65: #9C9FA4;
  --ika-gray-70: #898D93;
  --ika-gray-75: #767A81;
  --ika-gray-80: #636870;
  --ika-gray-85: #5A6573;
  --ika-gray-90: #383F47;
  --ika-gray-95: #2A3645;
  --ika-gray-100: #182435;
  --ika-link-color: #1068a6;
  --ika-link-color-dark: #057fd1;
  --ika-link-color-light: #1f98e9;
  --ika-ghost-white: #f8f8ff;
  --ika-ghost-dark: #282a36;
  --ika-white: 255 255 255;
  --ika-card-dark: 13 20 37;
  --ika-card-darker: 0 23 49;
  --ika-blue-primary: 77 162 255;
  --ika-gray: #ABBDCC;
  --ika-white: #f7f7f8;
  --ika-button-hover: #1a88ff;
  --ika-line: rgba(247, 247, 248, .1);
  --ika-max-width-desktop: 1162px;
  --ika-dark-blue-bkg: #011829;

  --primaryFont: 'Inter', sans-serif;
  --headerFont: 'Twkeverett', sans-serif;
  --monoFont: "Twkeverett Mono", monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4ca2ff;
  --ifm-color-primary-dark: #2b91ff;
  --ifm-color-primary-darker: #1a88ff;
  --ifm-color-primary-darkest: #006fe8;
  --ifm-color-primary-light: #6db3ff;
  --ifm-color-primary-lighter: #7ebcff;
  --ifm-color-primary-lightest: #afd6ff;
  --ifm-background-color: #030F1C;
  --ifm-menu-color: var(--ika-white);
  --ifm-menu-color-background-active: rgba(247, 247, 248, .05);
  --ifm-navbar-sidebar-link-color: #F7F7F8;
  --ifm-navbar-sidebar-background-color: #030F1C;
}

.active-scroll-spy {
  @apply bg-ika-ghost-white dark:bg-ika-ghost-dark rounded-lg;
}

/* Inverts the image in the stadards/closed-loop-token.mdx in dark mode. */
[data-theme='dark'] img.balance-coin-token {
  filter: invert(1);
}

/** navbar overrides */
.navbar-sidebar .menu__link {
  color: var(--ifm-navbar-sidebar-link-color);
}

.navbar-sidebar .menu__link--active, .navbar-sidebar .menu__link--active:hover, [data-theme='dark'] .navbar-sidebar .menu__link--active, [data-theme='dark'] .navbar-sidebar .menu__link--active:hover {
  @apply !bg-ika-blue-primary text-ika-gray-100
}

html[data-theme=dark] {
  background-color: var(--ifm-navbar-background-color);
}

/* Targeting the docusaurus theme switch */
button[title^="Switch between dark and light mode"] {
  @apply !text-white hover:bg-ika-blue-primary
}

html[data-theme=light] .navbar-sidebar button.clean-btn.menu__caret {
  @apply bg-ika-gray-65
}

/** setup global style overrides */

body {
  font-family: var(--primaryFont);
  tab-size: 2;
}

h1 {
  font-size: 3.375rem;
  line-height: 3.5rem;
  font-family: var(--primaryFont);
  font-weight: 500;
  letter-spacing: -0.04em;
}

.h1 {
  letter-spacing: -2.88px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--headerFont);
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.1;
}

h2 {
  font-family: var(--primaryFont);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.125rem;
  letter-spacing: -0.04em;
}

.h2 {
  letter-spacing: -1.62px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--headerFont);
  font-size: 3.375rem;
  font-weight: 400;
  line-height: 1.1;
}

h3 {
  font-family: var(--primaryFont);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  letter-spacing: -0.04em;
}

.h3 {
  font-family: var(--headerFont);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

h4 {
  font-family: var(--headerFont);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

.h4 {
  font-family: var(--headerFont);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -2%;
}

@media screen and (max-width: 767px) {
  h1 , .h1{
    font-size: 3.5rem;
  }

  h2, .h2 {
    font-size: 2rem;
  }

  h3, .h3 {
    font-size: 1.5rem;
  }

  h4, .h4 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 599px) {
  h2, .h2 {
    font-size: 1.7rem;
  }

  h3, .h3 {
    font-size: 1.2rem;
  }

  h4, .h4 {
    font-size: 1rem;
  }
}


/** Navbar overrides **/

.navbar {
  border-bottom: 1px solid var(--ika-line);
}

.navbar__title {
  visibility: hidden;
}

.navbar__toggle path {
  stroke: var(--ika-white);
}

.navbar__items {
  justify-content: space-between;
}

.navbar__items .navbar__brand {
  width: 27%;
}

.navbar__items .navbar__item.navbar__link {
  font-family: var(--headerFont);
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: -0.02em;
}

.darkNavbarColorModeToggle {
  @apply text-ika-white;
}

@media screen and (min-width: 767px) {
  .navbar__items.navbar__items--right {
    min-width: 325px;
  }
}

.theme-toggle-wrapper button:hover {
  @apply !bg-ika-blue-primary
}

/** navbar search field **/

.DocSearch-Button-Container {
  width: 100%;
  justify-content: space-between;
}

.DocSearch-Button {
  width: 12.5rem;
  height: 2.625rem !important;
  font-family: var(--headerFont);
  border: solid 1px rgba(247, 247, 248, 0.1) !important;
  border-radius: 2.25rem !important;
  padding: 1rem 1.1rem 1rem 1.25rem !important;
  color: var(--ika-white) !important;
  font-family: var(--primaryFont);
  letter-spacing: -0.01em;
  background: linear-gradient(0deg, rgba(247, 247, 248, 0.1), rgba(247, 247, 248, 0.1)),
  linear-gradient(0deg, rgba(247, 247, 248, 0.05), rgba(247, 247, 248, 0.05)) !important;
}

@media screen and (max-width: 599px) {
  .DocSearch-Button {
    width: initial;
  }
}

.DocSearch-Search-Icon {
  order: 2;
  margin-left: auto;
}

.DocSearch-Search-Icon path {
  stroke: var(--ika-white);
}

.DocSearch-Button-Keys {
  display: none !important;
}

.grid-card {
  row-gap: 1rem;
  column-gap: 1rem;
}

.markdown h1:first-child {
  margin-top: 1rem;
}

/*Targeting the search container so that the "start here" button displays alongside the search bar*/
[class^="navbarSearchContainer"] {
  @apply min-[997px]:flex min-[997px]:gap-4
}

/** Globals **/
.button-cta {
  @apply bg-ika-blue-primary font-sans text-ika-white -tracking-[.3px] cursor-pointer border-none rounded-[2.25rem] py-3 px-[1.125rem] text-base font-medium leading-[1.125rem] inline-block transition-colors duration-300 ease-in-out
}

.button-cta:hover {
  background-color: var(--ika-button-hover);
  color: var(--ika-white);
  text-decoration: none;
}
/*
details {
  @apply !bg-ika-gray-45 !border-ika-gray-65 relative before:content-["Click\20to\20toggle"] before:absolute before:-top-3 before:-left-1 before:text-xs before:bg-white before:px-2 before:py-0.5 before:rounded before:border before:border-ika-gray-65 before:border-solid before:opacity-0 hover:before:opacity-100 before:duration-300 before:transition-opacity;
}
[data-theme='dark'] details {
  @apply !bg-ika-gray-90 !border-ika-gray-65;
}
*/
summary::before {
  @apply !border-l-ika-gray-65;
}

details > div > div {
  @apply !border-t-ika-gray-65;
}
@media (max-width: 1050px) {
  .navbar .button-cta {
    display: none;
  }
}

/** colors **/

.text-white {
  color: var(--ika-white);
}

.text-gray {
  color: var(--ika-gray);
}
