# The docker image tag of ika-node to use.
DOCKER_TAG=ika:devnet-v0.0.6-arm64
# GITHUB_TOKEN token to allow access to the "cryptography-private" GitHub repository.
GITHUB_TOKEN=<YOUR_GITHUB_TOKEN>
# The total voting power of the network.
TOTAL_VOTING_POWER=4
# The quorum threshold for the network.
# If more than a $QUORUM_THRESHOLD of the validators are honest, the network is considered functional.
QUORUM_THRESHOLD=3
# The maximum voting power a single validator can have.
# This value must be greater than TOTAL_VOTING_POWER / NUMBER_OF_VALIDATORS.
MAX_VOTING_POWER=1
# If more than $VALIDITY_THRESHOLD of the validators agreed on something, and we assume the network is functional,
# then at least one honest validator must have voted for it.
VALIDITY_THRESHOLD=2
