##################### IKA NETWORK CONFIGURATION #####################

# The docker image tag of ika-node to use.
# Make sure to upload this image to the k8s cluster before deploying the network to it.
# TODO (#1010): Use docker images from GCP registry.
DOCKER_TAG=ika:devnet-v0.0.6-arm64
# GITHUB_TOKEN token to allow access to the "cryptography-private" GitHub repository.
GITHUB_TOKEN=<YOUR_GITHUB_TOKEN>
# The total voting power of the network.
TOTAL_VOTING_POWER=4
# The quorum threshold for the network.
# If more than a $QUORUM_THRESHOLD of the validators are honest, the network is considered functional.
QUORUM_THRESHOLD=3
# The maximum voting power a single validator can have.
# This value must be greater than TOTAL_VOTING_POWER / NUMBER_OF_VALIDATORS.
MAX_VOTING_POWER=1
# If more than $VALIDITY_THRESHOLD of the validators agreed on something, and we assume the network is functional,
# then at least one honest validator must have voted for it.
VALIDITY_THRESHOLD=2
# The number of validators to create.
VALIDATOR_NUM=4
# Ika epoch duration time.
export EPOCH_DURATION_TIME_MS=86400000

################################## SUI CONFIGURATION ##################################

# SUI fullnode URL.
export SUI_FULLNODE_RPC_URL="https://fullnode.sui.beta.devnet.ika-network.net"
#export SUI_FULLNODE_RPC_URL="http://localhost:9000"
# Sui Docker URL (only needed if you run Ika on Docker against localhost on non-linux).
# If it's not against localhost, set it to the remote sui RPC.
#export SUI_DOCKER_URL="http://docker.for.mac.localhost:9000"
export SUI_DOCKER_URL="https://fullnode.sui.beta.devnet.ika-network.net"
# SUI Faucet URL.
export SUI_FAUCET_URL="https://faucet.sui.beta.devnet.ika-network.net/gas"
#export SUI_FAUCET_URL="http://localhost:9123/gas"

