[package]
name = "sui-types"
version = "0.1.0"
authors = ["Mysten Labs <build@mystenlabs.com>"]
license = "BSD-3-Clause-Clear"
publish = false
edition = "2021"

[dependencies]
anemo.workspace = true
anyhow.workspace = true
bincode.workspace = true
bcs.workspace = true
byteorder.workspace = true
im.workspace = true
itertools.workspace = true
nonempty.workspace = true
once_cell.workspace = true
prometheus.workspace = true
rand.workspace = true
serde.workspace = true
serde-name.workspace = true
thiserror.workspace = true
tracing.workspace = true
serde_json.workspace = true
serde_with.workspace = true
signature.workspace = true
static_assertions.workspace = true
schemars.workspace = true
tap.workspace = true
tonic.workspace = true
strum.workspace = true
strum_macros.workspace = true
roaring.workspace = true
enum_dispatch.workspace = true
eyre.workspace = true
indexmap.workspace = true
derivative.workspace = true

move-binary-format.workspace = true
move-bytecode-utils.workspace = true
move-command-line-common.workspace = true
move-core-types.workspace = true
move-disassembler.workspace = true
move-ir-types.workspace = true
move-vm-test-utils.workspace = true
move-vm-types.workspace = true
move-vm-profiler.workspace = true

narwhal-config.workspace = true
narwhal-crypto.workspace = true
sui-protocol-config.workspace = true
shared-crypto.workspace = true
mysten-network.workspace = true
mysten-metrics.workspace = true
sui-macros.workspace = true
sui-enum-compat-util.workspace = true

fastcrypto = { workspace = true, features = ["copy_key"] }
fastcrypto-zkp.workspace = true

#twopc_mpc.workspace = true
#crypto-bigint.workspace = true
#tiresias.workspace = true

twopc_mpc = { git = "https://github.com/dwallet-labs/2pc-mpc.git", branch = "sign-ia" }
crypto-bigint = { version = "0.5", features = ["rand_core", "serde"], default-features = false }
group = { git = "https://github.com/dwallet-labs/group.git" }
proof = { git = "https://github.com/dwallet-labs/proof.git" }
homomorphic_encryption = { git = "https://github.com/dwallet-labs/homomorphic-encryption.git" }
commitment = { git = "https://github.com/dwallet-labs/commitment.git" }
maurer = { git = "https://github.com/dwallet-labs/maurer.git" }
enhanced_maurer = { git = "https://github.com/dwallet-labs/enhanced-maurer.git" }
tiresias = { git = "https://github.com/dwallet-labs/tiresias.git", branch = "he", features = ["test_exports"] }
ecdsa = { version = "0.16.9", features = ["verifying"] }
k256 = { git = 'https://github.com/ycscaly/elliptic-curves.git', branch = "13.3-fixed", features = ["arithmetic", "critical-section", "precomputed-tables", "serde", "ecdsa", "hash2curve", "alloc"], default-features = false }

typed-store-error.workspace = true
derive_more.workspace = true
proptest.workspace = true
proptest-derive.workspace = true
workspace-hack.workspace = true

[dev-dependencies]
bincode.workspace = true
criterion.workspace = true
proptest.workspace = true
proptest-derive.workspace = true
serde_yaml.workspace = true
expect-test.workspace = true

[[bench]]
name = "accumulator_bench"
harness = false

[features]
test-utils = []
fuzzing = ["move-core-types/fuzzing"]
