[package]
name = "dwallet-mpc-centralized-party"
edition = "2021"
version.workspace = true

[dependencies]
mpc.workspace = true
twopc_mpc.workspace = true
commitment = { git = "https://github.com/dwallet-labs/cryptography-private", rev = "ad7cb82a", subdir = "commitment" }
shared_wasm_class_groups = { path = "../shared-wasm-class-groups" }
class_groups.workspace = true
group.workspace = true
homomorphic_encryption.workspace = true
dwallet-mpc-types.workspace = true
schemars.workspace = true
anyhow.workspace = true
bcs.workspace = true
rand_core = "0.6.4"
rand_chacha = "0.3.1"
serde = { version = "1.0.217", features = ["derive"] }
crypto-bigint.workspace = true

[lints]
workspace = true
